# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

dist

infrastructure
.deployer

**/*.js
**/*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

#Frank
template.*.yml